.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  height: 100vh;
  width: 100%;
  // background-image: url("/Duststorm\ Dynamo.png");

  * {
    transition: all 0.1 ease;
  }

  .heroes {
    margin-left: 4%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 17.5%;
    outline: 2px solid black;
    flex-wrap: wrap;
    padding-bottom: 1%;
    box-sizing: content-box;
    border-radius: 20px;

    .hero {
      position: relative;
      cursor: pointer;
      outline: 2px solid black;
      width: 11vmin;
      height: 11vmin;

      img {
        width: 100%;
        height: 100%;
      }

      p {
        position: absolute;
        bottom: 5%;
        font-size: 2vmin;
      }
    }
  }

  .picked_hero {
    width: 70%;
    height: 60%;
    
    h1 {
      margin-left: 10%;
      outline: 1px solid black;
      width: fit-content;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.2% 2% 0 2%;
      border-radius: 0 1rem 0 2rem;
    }

    .hero_stats {
      display: flex;
      gap: 5%;
      flex-direction: row;
      width: 30%;
      height: 100%;

      img {
        align-self: center;
        width: 70%;
        height: 50%;
      }

      > div {
        align-self: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50%;
      }
    }
  }
}