html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mokoto';
  src: url('/fonts/Mokoto/Mokoto Glitch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mokoto2';
  src: url('/fonts/Mokoto/Mokoto Glitch Mark.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mokoto3';
  src: url('/fonts/Mokoto/Mokoto Glitch Mark 2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}