.main {
  position: relative;
  width: 100%;
  height: 100%;

  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/layout_login_static.png");
}

.register_btn {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 4%;
  left: 50%;
  font-family: Mokoto3, sans-serif;
  cursor: pointer;

  p {
    font-size: 23px;
  }
}

.login_btn {
  position: absolute;
  bottom: 15%;
  transform: translate(-50%, -50%);
  left: 50%;
  cursor: pointer;
  
  font-family: Mokoto3, sans-serif;
  background: url("/btn_login_noBorder_noText.gif");
  background-repeat: no-repeat;
  background-size: auto;
  outline: 2px solid black;
  background-position: center;
  color: black;
  font-weight: 900;
  font-size: 20px;
  border-radius: 0.5rem;
  padding: 1% 1%;

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }
}

.login_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  color: white;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  input {
    color: white;
  }
  label {
    color: white;
  }
}

@keyframes fadeInAnimation {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}