.main {
  position: relative;
  width: 100%;
  height: 100%;

  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/layout_login_static.png");
}

.login_btn {
  position: absolute;
  bottom: 15%;
  transform: translate(-50%, -50%);
  left: 50%;
  cursor: pointer;
  height: 10%;
  width: 10%;
  
  font-family: Mokoto3, sans-serif;
  background: url("/btn_empty.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  p {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }
}

.login_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  padding: 1rem;
  
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}